<h1>Editing tvchannel</h1>

<%= render "form", tvchannel: @tvchannel %>

<br>

<div>
  <%= link_to "Show this tvchannel", @tvchannel %> |
  <%= link_to "Back to tvchannels", tvchannels_path %>
</div>
