<div class="container1">
      <h1 class="neonText">
                  40% off
                      </h1>
                          <h2 class="neonText">Now through Aug. 1</h2> 
                          <a href="/welcome/page1"><h2 class="neonText">Go to neonville</h2> </a>
                          

                           </div>

