
<nav>
  <div class="musiclive">
    <a href="/radiowaves">
    music live<br>
    radio bar
    </a>
  </div>
  <div class="container3">
        <h1 class="neonText">
                    Bienvenue à <br> neonville
                        </h1>

                         </div>
  <div class="userinfo">
    <a href="/users/edit">
      users' info
    </a>
  </div>
  <div class="myplace">
    <a href="/mytv/index">
    bar cafe<br>
    sports' TV
    </a>
  </div>
</nav>
<div class="container2">
  <h1 class="neonText">Welcome to neonville</h1>
  <p></p>
        <p class="neonText">
                            go to bar sports cafe or music live radio bar
                                                  </p>
        <p class="neonText">
                            please fill in your info
                                                  </p>
                                                                            <h2 class="neonText">Page Not Found</h2>

                                                                                                       </div>
