<h1>Editing radiowave</h1>

<%= render "form", radiowafe: @radiowafe %>

<br>

<div>
  <%= link_to "Show this radiowave", @radiowafe %> |
  <%= link_to "Back to radiowaves", radiowaves_path %>
</div>
