<h1>Editing radiowave</h1>

<%= render "form", radiowave: @radiowave %>

<br>

<div>
  <%= link_to "Show this radiowave", @radiowave %> |
  <%= link_to "Back to radiowaves", radiowaves_path %>
</div>
