  <article class="hit-line">
                                        <span class="song"></span>
                                                                                    <span class="body">
                                                                                                                                  <audio controls>
                                                                                                                                    <source src="/uploads/<%=music.filename%>" type="audio/ogg">
                                                                                                                                                                                                                                    Your browser does not support the audio tag.
                                                                                                                                                                                                                                                                                      </audio>

                                                                                                                                                                                                                                                                                                                                  </span>
                                                                                                                                                                                                                                                                                                                                                                                    </article>
